.projects-section {
  text-align: center;
  padding: 50px 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.project-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-links {
  margin-top: 20px;
}

.project-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.project-links a:hover {
  text-decoration: underline;
}
